.header{
    width:100%;
    height: 120px;
    background: #fff;
}
.header>div{
    position: absolute;
    width: 115px;
    height: 120px;
}
.header>div>img{
    position: relative;
    width: 40px;
    left: 40px;
    top: 30px;
}
.header>span{
    font-size: 44px;
    font-weight: bold;
    position: relative;
    top: 20%;
    left: 26%;
}
.section{
    width: 100%;
    height: 150px;
    background: #fff;
    margin-top: 6%;
}
.input1,.input2{
    width: 100%;
    height: 50%;
    line-height: 75px;
}
.input1{
    border-bottom:1px #000 solid;
}
.input1>input,.input2>input{
    width: 100%;
    height: 50%;
    border: 0;
    outline: none;
    font-size: 33px;
    margin-left: 30px;
}
.input2>input{
    width: 70%;
}
.input2>div{
    display: inline-block;
    width: 17%;
    height: 100%;
    font-size: 30px;
    color: #ff0924;
    padding-left: 5%;
    border-left: 1px #000 solid;
}
.submit{
    width: 100%;
    height: 85px;
    margin-top: 40px;
    text-align: center;
}
.submit>button{
    width: 95%;
    height:100%;
    border-radius: 3%;
    background: #dddddd;
    border:none;
    font-size: 34px;
}